@model DashBoard.bl.ViewModel.DepartmentVM
@{
    ViewData["Title"] = "create";
}


<h2>create new department</h2>

<form asp-action="create" class="form-group">
    @*<div asp-validation-summary="All"></div>*@
    <label>department name</label>
    <input class="form-control" type="text" name="name" required />
    <span asp-validation-for="name" class="text-danger"></span>
    <br />
    <label>department code</label>
    <input class="form-control" type="text" asp-for="depCode" required />
    <span asp-validation-for="depCode" class="text-danger"></span>
    <center>

        <input type="submit" class="btn btn-success" value="Save" />
        <input type="reset" class="btn btn-danger" value="cancel" />


    </center>

</form>


@section microsoftValidation{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
